---
# Copyright 2016, Ian Cordasco
# Copyright 2016, Rackspace
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: Install barbican server
  hosts: barbican
  max_fail_percentage: 20
  user: root
  pre_tasks:
    - name: Use the lxc-openstack aa profile
      lxc_container:
        name: "{{ container_name }}"
        container_config:
          - "lxc.aa_profile=lxc-openstack"
      delegate_to: "{{ physical_host }}"
      when: not is_metal | bool
      register: container_config
      tags:
        - lxc-aa-profile
    - name: Wait for container ssh
      wait_for:
        port: "22"
        delay: "{{ ssh_delay }}"
        search_regex: "OpenSSH"
        host: "{{ ansible_ssh_host }}"
      delegate_to: "{{ physical_host }}"
      when: >
            (container_config is defined and container_config | changed) or
            (container_extra_config is defined and container_config | changed)
      register: ssh_wait_check
      until: ssh_wait_check | success
      retries: 3
      tags:
        - ssh-wait
    - name: Sort the rabbitmq servers
      dist_sort:
        value_to_lookup: "{{ container_name }}"
        ref_list: "{{ groups['barbican'] }}"
        src_list: "{{ rabbitmq_servers }}"
      register: servers
    - name: Set rabbitmq servers
      set_fact:
        rabbitmq_servers: "{{ servers.sorted_list }}"
    - name: Create log dir
      file:
        path: "{{ item.path }}"
        state: directory
      with_items:
        - { path: "/openstack/log/{{ inventory_hostname }}-barbican" }
      when: is_metal | bool
      tags:
        - barbican-logs
        - barbican-log-dirs
    - name: Create log aggregation links
      file:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        state: "{{ item.state }}"
        force: "yes"
      with_items:
        - { src: "/openstack/log/{{ inventory_hostname }}-barbican", dest: "/var/log/barbican", state: "link" }
      when: is_metal | bool
      tags:
        - barbican-logs
  roles:
    - role: "openstack-ansible-barbican"
      barbican_galera_address: "{{ galera_address }}"
      barbican_venv_tag: "{{ openstack_release }}"
      barbican_venv_download_url: "{{ openstack_repo_url }}/venvs/{{ openstack_release }}/{{ ansible_distribution | lower }}/barbican-{{ openstack_release }}.tgz"
      barbican_config_overrides:
        DEFAULT:
          host: "0.0.0.0"
          rpc_backend: "{{ barbican_rpc_backend }}"
        api:
          host: "0.0.0.0"
        database:
          connection: "mysql://{{ barbican_galera_user}}:{{ barbican_galera_password}}@{{ barbican_galera_address }}/{{ barbican_galera_database_name }}?charset=utf8"
        oslo_messaging_rabbit:
          rabbit_hosts: "{{ rabbitmq_servers }}"
          rabbit_port: "{{ rabbitmq_port }}"
          rabbit_userid: "{{ barbican_rabbitmq_userid }}"
          rabbit_password: "{{ barbican_rabbitmq_password }}"
          rabbit_virtual_host: "{{ barbican_rabbitmq_virtualhost }}"
          rabbit_use_ssl: "{{ rabbitmq_use_ssl }}"
          rabbit_notification_exchange: barbican
          rabbit_notification_topic: notification
        keystone_authtoken:
          identity_uri: "{{ keystone_service_internaluri_v3 }}"
          insecure: "{{ keystone_service_internaluri_insecure |bool }}"
          auth_type: "{{ barbican_keystone_auth_plugin }}"
          signing_dir: "{{ barbican_system_user_home }}/cache/api"
          auth_url: "{{ keystone_service_internaluri_v3 }}"
          auth_uri: "{{ keystone_service_internaluri_v3 }}"
          project_domain_name: "{{ barbican_service_project_domain_name }}"
          user_domain_name: "{{ barbican_service_user_domain_name }}"
          project_name: "{{ barbican_service_project_name }}"
          username: "{{ barbican_service_user_name }}"
          password: "{{ barbican_service_password }}"
          memcached_servers: "{{ memcached_servers }}"
          token_cache_time: 300
          revocation_cache_time: 60
      tags:
        - "os-barbican"
    - { role: "openstack_openrc", tags: [ "openstack-openrc" ] }
    - role: "system_crontab_coordination"
      tags:
        - "system-crontab-coordination"
  vars:
    galera_address: "{{ internal_lb_vip_address }}"
    ansible_hostname: "{{ container_name }}"
    is_metal: "{{ properties.is_metal|default(false) }}"
